.external-h4 {
    color: darkmagenta;
}

.external-myname {
    font-style: italic;
}

.external-span {
    font-weight: bold;
}

.external-btn {
    background-color: green;
    color: blanchedalmond;
}