.css-section {
    margin-top: 2rem;
}


/*Section 9: CSS Button Hover Effect Code Along*/

.hov-btn-container {
    width: 250px;
    height: 250px;
    background-color: #151b29;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hov-btn__button {
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 250ms;
}

.hov-btn__button:hover {
    border-color: #f1ff5c;
    color: #fff;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}


/*Section 9 Photo Blog Project*/

.photo-blog {
    border: 5px solid black;
}

.photo-blog__nav {
    text-transform: uppercase;
    font-size: 1.56em;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/9);
    padding: 1.25em 0;
    font-family: 'Raleway', sans-serif;
}

.photo-blog__photographer {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}

.photo-blog__img {
    width: 30%;
    margin: calc(10%/9);
    /*margin: calc(10%/6); <-- was from video lesson, but didn't space the images the way I needed. This is due to the way I have the img set-up in the HTML.*/
}