/*Pricing Panel Project font*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
.css-section {
    margin-top: 2rem;
}


/*Section 9: CSS Button Hover Effect Code Along*/

.hov-btn-container {
    width: 250px;
    height: 250px;
    background-color: #151b29;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hov-btn__button {
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 250ms;
}

.hov-btn__button:hover {
    border-color: #f1ff5c;
    color: #fff;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}


/*Section 9 Photo Blog Project*/

.photo-blog {
    border: 5px solid black;
}

.photo-blog__nav,
.photo-blog__photographer {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.photo-blog__nav {
    font-size: 1.56em;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/9);
    padding: 1.25em 0;
}

.photo-blog__photographer {
    font-style: italic;
}

.photo-blog__img {
    width: 30%;
    margin: calc(10%/9);
    /*margin: calc(10%/6); <-- was from video lesson, but didn't space the images the way I needed. This is due to the way I have the img set-up in the HTML. <--white space.*/
}


/*Pricing Panel Project*/

.pp-proj-ttl {
    margin-top: 2rem;
}

.pricing-panel-project {
    border: 2px solid black;
    background-color: #60a9ff;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-plan:last-child {
    border-bottom: none;
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
}

.pricing-header {
    color: #888;
    font-weight: 500;
    letter-spacing: 1px;
}

.pricing-features {
    list-style-type: none;
    margin: 50px 0 25px;
    color: #016ff9;
}

.pricing-features-item {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #e1f1ff;
}

.pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
    color: #016ff9;
    /*display block so that it takes up its own chunk*/
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pp-btn {
    background-color: transparent;
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    display: inline-block;
    padding: 15px 35px;
    margin: 25px 0;
    transition: background-color 250ms ease-in-out;
}

.pp-btn:hover,
.pp-btn:focus {
    background-color: #e1f1ff;
}

.pp-btn.is-featured {
    background-color: #48aaff;
}

.pp-btn.is-featured:hover,
.pp-btn.is-featured:focus {
    background-color: #269aff;
}

.is-featured-txt {
    color: #e1f1ff;
}

.pricing-button {
    text-decoration: none;
    color: #348efe;
}


/*Pricing panel project responsive*/


/*For screens larger that mobile*/

@media(min-width: 900px) {
    .panel {
        flex-direction: row;
    }
    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        padding: 25px 50px;
    }
    .pricing-plan:last-child {
        border-right: none;
    }
}