.external-h4 {
    color: darkmagenta;
}

.external-myname {
    font-style: italic;
}

.external-span {
    font-weight: bold;
}

.external-btn {
    background-color: green;
    color: blanchedalmond;
}


/*RGB Colors*/

.external-rgb {
    color: #8b008b;
}

.external-rgb-btn {
    background-color: #008000;
    color: rgb(255, 235, 205);
}


/*HEX Colors*/

.external-hex {
    color: #8b008b;
}

.external-hex-btn {
    background-color: #008000;
    color: #ffebcd;
}


/*Section 8: Coding Exercise 8 - Hipster Logo*/

.purple-grain {
    font-size: 40px;
    font-family: monospace;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 20px;
    text-decoration: underline #dda0dd wavy;
}