/*RESETS*/

*,
body,
 ::before,
 ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -- Primary Nav --*/

.primary-nav a {
    text-decoration: none;
}

.primary-nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.connect {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.connect a {
    text-decoration: none;
}